h1(class='text-center') Movies for You:
each movie in Movies
	div(class='container-fluid')
		div(class='row-fluid')
			div(class='span12')
				h2(class='text-center') #{movie.title}
		div(class='row-fluid well wide')
			div(class='span3')
				img(src=movie.poster)
			div(class='span9 movie')
				h3(class='not-bold') 
					strong Critics Rating: 
					span(class='btn disabled critics #{movie.title}') #{movie.critics}
					div(class='inline-block') 
						strong Audience Rating: 
						span(class='btn disabled viewers #{movie.title}') #{movie.viewers}
				h3(class='not-bold') 
					strong MPAA Rating: 
					|#{movie.MPAA}
					div(class='inline-block')
						strong Runtime: 
						|#{movie.runtime} minutes
				h4(class='not-bold') 
					strong Synopsis: 
					|#{movie.synopsis}
				div
					each tag in movie.tags
						strong Tag: 
						|#{tag.tag} 
						strong Hits: 
						|#{tag.hits}
	script
		var score = '#{movie.viewers}';
		var current = $("span[class='btn disabled viewers #{movie.title}']");
		if (score > 70) {
			current.addClass('btn-success');
		} else if (score > 50) {
			current.addClass('btn-warning');
		} else {
			current.addClass('btn-danger');
		}
		score = '#{movie.critics}';
		current = $("span[class='btn disabled critics #{movie.title}']");
		if (score > 70) {
			current.addClass('btn-success');
		} else if (score > 50) {
			current.addClass('btn-warning');
		} else {
			current.addClass('btn-danger');
		}